.default-card-header {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
    background-color: #283593;
    color: white;
    margin-bottom: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.default-card {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 25px 0;
    border-radius: 5px;
}

.default-card-content {
    text-align: center;
}

.mat-card-actions {
    display: flex;
    justify-content: center;
}

.stepper {
    height: 100vh;
}

/* Mobile */

.mat-vertical-stepper-header-container {
    display: none !important;
}

.mobile-stepper {
    padding-bottom: 50px;
}