<div fxLayout="column wrap" fxLayoutGap="16px grid">
    <div fxFlex="25" fxFlex.xs="100%" fxFlex.sm="50%">
        <!-- <mat-icon class="example-tab-icon">description</mat-icon> -->
        <h1>Citation Information</h1>
        <div>
            <app-citation-form [form]="citationForm" [editingCitation]="true"></app-citation-form>
        </div>
        <h1>Driver Information</h1>
        <div>
            <app-driver-form [form]="citationForm" [editingCitation]="true"></app-driver-form>
        </div>
        <h1>Officer Information</h1>
        <div>
            <app-officer-form [form]="citationForm" [editingCitation]="true"></app-officer-form>
        </div>
        

    </div>
    <!-- <mat-tab-group mat-align-tabs="center" animationDuration="0ms" [selectedIndex]="0">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">description</mat-icon>
                Citation
            </ng-template>

            <div *ngIf="citation">
                <app-citation-form [form]="citationForm" [violations]="violations" [editingCitation]="true"></app-citation-form>
            </div>

        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">person</mat-icon>
                Driver
            </ng-template>
            <div *ngIf="driver">
                <app-driver-form [form]="citationForm" [editingCitation]="editingCitation"></app-driver-form>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">local_police</mat-icon>
                Officer
            </ng-template>
            <div *ngIf="citation">
                <app-officer-form [form]="citationForm" [editingCitation]="editingCitation"></app-officer-form>

            </div>
        </mat-tab>
    </mat-tab-group> -->
</div>