<h2 mat-dialog-title *ngIf="citation"> Editing Citation </h2>
<div mat-dialog-content *ngIf="citation">
    <mat-form-field>
        <mat-label>Type</mat-label>
        <input matInput placeholder="Type" [(ngModel)]="citation.type"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput placeholder="Date" [(ngModel)]="citation.date" type="date"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Time</mat-label>
        <!-- One way binding for formatting timespan with pipe then on model change bind to citation.time Need to use 24H clock -->
        <input matInput class="timepicker" vale="00:00:00" [ngModel]="(citation.time | formatTimespan)" (ngModelChange)="citation.time = $event" type="time"/>
    </mat-form-field><br>

    <mat-form-field>
        <mat-label>VIN</mat-label>
        <input matInput placeholder="VIN" [(ngModel)]="citation.vin"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>State</mat-label>
        <input matInput placeholder="State" [(ngModel)]="citation.vin_state"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Code</mat-label>
        <input matInput placeholder="Code" [(ngModel)]="citation.code_section"/>
    </mat-form-field><br>

    <mat-form-field>
        <mat-label>Officer Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="citation.officer_name"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Badge #</mat-label>
        <input matInput placeholder="Badge Number" [(ngModel)]="citation.officer_badge"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Sign Date</mat-label>
        <input matInput placeholder="Sign Date" [(ngModel)]="citation.sign_date" type="date"/>
    </mat-form-field><br>

    <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput placeholder="Location" [(ngModel)]="citation.violation_loc"/>
    </mat-form-field>

    <mat-label style="margin-right: 12px;">Owner Fault</mat-label>
    <mat-radio-group [(ngModel)]="citation.owner_fault">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group><br>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput cols="50" placeholder="Description"[(ngModel)]="citation.desc"></textarea><br>
    </mat-form-field>
</div>

<div mat-dialog-actions *ngIf="citation">
    <button class="mat-raised-button mat-warn" (click)="deleteCitation(citation)" *ngIf="citation.citation_id">Delete</button>
    <button class="mat-raised-button"(click)="closeDialog()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="updateCitation(citation)" *ngIf="citation.citation_id">Save</button>
</div>