/* .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
} */

/* mat-form-field {
    margin-right: 12px;
} */

/* .mat-raised-button {
    margin-right: 10px;
} */

/* .mat-dialog-content {
    min-width: fit-content;
    min-height: fit-content;
} */

/* .mat-warn {
    margin-right: 60%;
} */

/* .fault-radio-buttons {
    justify-content: right;
} */

/* .icon-delete {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .mat-fab .mat-button-wrapper {
    display: flex !important;
    justify-content: center !important;
} */

/* .dialog-container {
    min-height: 500px !important;
    min-width: 1000px !important;
} */

mat-dialog-actions {
    margin-top: 25px;
    margin-bottom: 1px;
}

mat-icon {
    margin-right: 10px;
}