.card-dark:hover {
  background-color: #5D5F6E;
  cursor: pointer;
}

.card-light:hover {
  background-color: #C5CAE9;
  cursor: pointer;
}

.mat-card-header {
  padding: 15px 0 0 0;
  background-color: #283593;
  color: white;
  margin-bottom: 15px;
}

.mat-card-title {
  text-align: center;
}

.mat-card {
  padding: 0 0 25px 0;
  height: 100%;
}

.mat-card-subtitle {
  padding-left: 5%;
}

.mat-card-content {
  padding-left: 5%;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

footer{
  margin-bottom: 50px;
}

.paginator-buttons {
  /* background-color: #1A237E; */
  position: fixed;
  z-index: 100;
  bottom: 6.4%; 
}