.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

mat-form-field {
    margin-right: 12px;
}

tr {
    display: flex;
    justify-content: center;
}

/* .main-container {
    display: block;
    justify-content: center;
} */

.table-container {
    display: flex; 
    justify-content: center;
}