<body class="landing-page">
<div class="landing-page"></div>
  <div class="landing-page__content">
    <div class="landing-page__content__left">
      <h1> Welcome to the </h1>
      <h1>Monterey County Superior Court </h1>
      <h1> Citation Database</h1>
      <p> The Monterey County Superior Court is committed to providing the highest quality of service to the public. </p>
      <div class="landing-page__content__">
        <button class="btn btn-primary" (click)="redirectLogin()">Login / Register </button>
      </div>
    </div>
  </div>
</body>
