<div [formGroup]="form" fxLayout="column">
    <div fxLayoutGap="10px" formGroupName="officerInfo" fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column">
        <mat-form-field appearance="fill" fxFlex="18">
            <mat-label>Arresting Officer Name</mat-label>
            <input matInput required formControlName="officer_name" type="text" placeholder="Name" />
            <mat-error *ngIf="officerInfo.controls['officer_name'].hasError('required')">
                <strong>Required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="18">
            <mat-label>Badge No.</mat-label>
            <input matInput required formControlName="officer_badge" type="text" placeholder="Badge #" />
            <mat-error *ngIf="officerInfo.controls['officer_badge'].hasError('required')">
                <strong>Required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="18">
            <mat-label>Signed Date</mat-label>
            <input matInput required formControlName="sign_date" class="form-control" type="date" />
        </mat-form-field>
    </div>
</div>