<h1><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Traffic Citation Interface</a></h1>
<!-- Views render in here -->
<nav>
    <ul>

            <a routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"><img src = "assets/court_logo.jpeg" alt = "court_logo"></a>

        <li>
            <a routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
            <a routerLink="/create-citation"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">Create Citation</a>
        </li>
        <li>
            <a routerLink="/view-citations"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">View Citations</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
