mat-toolbar, mat-drawer {
  background-color: #1A237E;
}

a:hover {
  color: #3949AB;
  color: #ffc107 !important;
}

.navLinks a {
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  font-size: medium;
}

.active-link {
  background-color: #3949AB;
}

img {
  max-width: 45px;
  max-height: auto;
  margin-left: -10px;
}

html, body, .content, app-root {
  height: 100vh;
}

.bottomToolBar {
  position: fixed;
  z-index: 100;
  bottom: 0; 
  text-align: center;
  padding-top: 5px;
}

.bottomToolBar a {
  color: white;
  padding: 8px 12px 0px 12px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: small;
  height: calc(100% - 20px);
  cursor: pointer;

  
}

.bottomToolBarLinks {
  margin: 0 auto;
  width: calc(100% - 50px);
}

span {
  display: block;
  margin-top: -10px;
}

/* CSS */
.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
h2{
  font-size: 12px;
  color: #fff;
}
