<form [formGroup]="citationForm">
    <mat-stepper #stepper linear>
        <mat-step formGroupName="driverInfo" [stepControl]="citationForm.get('driverInfo')!">
            <ng-template matStepLabel>Fill out driver's information</ng-template>
            <div class="p-4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h2>Driver Information</h2>
                        </mat-card-title>
                    </mat-card-header>
    
                    <mat-card-content>
                        <app-driver-form [form]="citationForm" [editingCitation]="false" [states]="states" [(driverFound)]="driverFound" [(driver)]="driver">
                        </app-driver-form>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-step>
    
        <mat-step formGroupName="citationInfo" [stepControl]="citationForm.get('citationInfo')!">
            <ng-template matStepLabel>Fill out traffic citation</ng-template>
            <div class="main-container p-4">
                <mat-card tabindex="0" class="example-card">
                    <mat-card-header>
                        <mat-card-title>
                            <h2>Citation</h2>
                        </mat-card-title>
                    </mat-card-header>
    
                    <mat-card-content>
                        <app-citation-form [form]="citationForm" [states]="states" [violations]="violations" [editingCitation]="false">
                        </app-citation-form>
                    </mat-card-content>
    
                </mat-card>
            </div>
    
        </mat-step>
    
        <mat-step formGroupName="officerInfo" [stepControl]="citationForm.get('officerInfo')!">
            <ng-template matStepLabel>Fill out officer information</ng-template>
                <div class="main-container p-4">
                    <mat-card tabindex="0" class="example-card">
                        <mat-card-header>
                            <mat-card-title>
                                <h2>Officer Information</h2>
                            </mat-card-title>
                        </mat-card-header>
    
                        <mat-card-content>
                            <app-officer-form [form]="citationForm" [editingCitation]="false">
                            </app-officer-form>
                        </mat-card-content>
                    </mat-card>
                </div>
        </mat-step>
    
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div class="p-4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h2>Review Citation</h2>
                        </mat-card-title>
                    </mat-card-header>
    
                    <mat-card-content>
                        <app-citation-review [formSubmitted]="false" [form]="citationForm" [violations]="violations">
                        </app-citation-review>
                    </mat-card-content>
    
                    <mat-card-actions class="mb-2 mt-3">
                        <button mat-raised-button color="primary" matStepperPrevious [hidden]="citationCreated">Back</button>
                        <button mat-raised-button color="primary" (click)="onFormSubmit()"
                            *ngIf="citationCreated == false" type="submit">Submit</button>
    
                        <button mat-raised-button color="primary" *ngIf="citationCreated" (click)="resetForm(); stepper.reset()">Create Another</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-step>
    </mat-stepper>
</form>
