
<!-- TODO: When clicking edit button create a modal, maybe do this for create citation too-->
<ng-template #modal let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Editing Citation Modal WIP</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Exit click')">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>




<div *ngIf="citation">
    
    <h2> Editing Citation </h2>
    <div>
        Type:
        <input [(ngModel)]="citation.type" placeholder="Type"/>
    </div>
    <div>
        Date:
        <input [(ngModel)]="citation.date" type="date"/>
    </div>
    <div>
        Time:
        <input [(ngModel)]="citation.time" type="time"/>
    </div>
    <div>
        Owner's Fault:
        <label>
            <input [(ngModel)]="citation.owner_fault" type="radio" [value]="true"/> Yes
        </label>
        <label>
            <input [(ngModel)]="citation.owner_fault" type="radio" [value]="false"/> No
        </label>
    </div>
    <div>
        Description:
        <input [(ngModel)]="citation.desc" placeholder="Description"/>
    </div>
    <div>
        Violation Location:
        <input [(ngModel)]="citation.violation_loc" placeholder="Location"/>
    </div>
    <div>
        VIN:
        <input [(ngModel)]="citation.vin" placeholder="VIN"/>
    </div>
    <div>
        VIN State:
        <input [(ngModel)]="citation.vin_state" placeholder="State"/>
    </div>
    <div>
        Code:
        <input [(ngModel)]="citation.code_section" placeholder="Code"/>
    </div>
    <div>
        Officer Name:
        <input [(ngModel)]="citation.officer_name" placeholder="Name"/>
    </div>
    <div>
        Officer Badge:
        <input [(ngModel)]="citation.officer_badge" placeholder="Badge Number"/>
    </div>
    <div>
        Signed Date:
        <input [(ngModel)]="citation.sign_date" type="date"/>
    </div>
    
    <button (click)="updateCitation(citation)" *ngIf="citation.citation_id">Save</button>
    <button (click)="deleteCitation(citation)" *ngIf="citation.citation_id">Delete</button>
    <button (click)="createCitation(citation)" *ngIf="!citation.citation_id">Create</button>

</div>
