.mat-card-header {
    padding: 20px 0 0 0;
    background-color: #283593;
    margin-bottom: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-img {
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    width: 40%;
}

.mat-card {
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 5px;
    padding: 0 0 25px 0;
}

.nav-link {
    color: white;
} 