<div [formGroup]="form">
    <div formGroupName="citationInfo">
        <div fxLayoutAlign="center center" fxLayout="row wrap">
            <mat-radio-group formControlName="type" fxLayout.lt-sm="column wrap" fxLayoutGap.xs="15px" fxLayoutGap="16px">
                <mat-radio-button value="Misdemeanor">Misdemeanor</mat-radio-button>
                <mat-radio-button value="Traffic">Traffic</mat-radio-button>
                <mat-radio-button value="Non-Traffic">Non-Traffic</mat-radio-button>
            </mat-radio-group>
            <span [hidden]="citationInfo.controls['type'].pristine && !citationInfo.controls['type'].touched">
                <mat-error *ngIf="citationInfo.controls['type'].hasError('required')">
                    <strong>Required</strong>
                </mat-error>
            </span>
        </div><br>
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center" fxLayout.xs="column">
            <mat-form-field appearance="outline" fxFlex="18">
                <mat-label>Date of Violation</mat-label>
                <input matInput required formControlName="date" type="date" />
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="18">
                <mat-label>Time</mat-label>
                <input matInput formControlName="time" type="time" />
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="18">
                <mat-label for="violation_loc">Location of Violation</mat-label>
                <input matInput required formControlName="violation_loc" type="text" name="violation_loc"
                    placeholder="Location" />
                <mat-error *ngIf="citationInfo.controls['violation_loc'].hasError('required')">
                    <strong>Required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="18">
                <mat-label>State</mat-label>
                <mat-select formControlName="vin_state" name="vin_state">
                    <mat-option *ngFor="let state of states" [value]="state"> {{ state }} </mat-option>
                </mat-select>
                <mat-error *ngIf="citationInfo.controls['vin_state'].hasError('required')">
                    <strong>Required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="18">
                <mat-label for="vin">Vehicle License Number or VIN</mat-label>
                <input matInput required formControlName="vin" type="text" name="vin"
                    placeholder="Veh. Lic. No. or VIN" />
                <mat-error *ngIf="citationInfo.controls['vin'].hasError('required')">
                    <strong>Required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="18">
                <mat-label for="desc">Description</mat-label>
                <textarea matInput required formControlName="desc" type="text" name="desc" placeholder="Description"
                    cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"></textarea>
                <mat-error *ngIf="citationInfo.controls['desc'].hasError('required')">
                    <strong>Required</strong>
                </mat-error>
            </mat-form-field>
        </div><br>
        <div>
            <div fxLayoutAlign="center" fxLayoutGap="15px">
                <label>Owner's Fault?</label><br>
                <mat-radio-group formControlName="owner_fault" fxLayoutGap.xs="15px" fxLayoutGap="16px">
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
                <span
                    [hidden]="citationInfo.controls['owner_fault'].pristine && !citationInfo.controls['owner_fault'].touched">
                    <mat-error *ngIf="citationInfo.controls['owner_fault'].hasError('required')">
                        <strong>Required</strong>
                    </mat-error>
                </span>
            </div>
        </div>
        <br>
        <!-- <div *ngIf="editingCitation && violations">
            <mat-accordion *ngIf="violations.length > 0">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Violations</mat-panel-title>
                        <mat-panel-description>Violations Committed</mat-panel-description>
                    </mat-expansion-panel-header>
                    <p *ngFor="let violation of violations">

                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div> -->

        <form [formGroup]="form" fxLayout fxLayoutAlign="center center" fxLayoutGap="15px">
            <div formGroupName="citationInfo">
                <ng-container formArrayName="violations"
                    *ngFor="let quantity of violationsArray().controls; let i = index">
                    <br><span class="text-center">Violation {{ i+1 }}</span><br>
                    <div class="table-container">
                        <tbody>
                            <tr [formGroupName]="i">
                                <td class="mt-1 mb-3">
                                    <button (click)="removeViolation(i)" mat-raised-button color="warn">Remove</button>
                                </td>
                            </tr>
                            <tr [formGroupName]="i">
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Group</mat-label>
                                        <input matInput required type="text" formControlName="group"
                                            placeholder="Group">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Code</mat-label>
                                        <input matInput required type="text" formControlName="code" placeholder="Code">
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr [formGroupName]="i">
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Degree</mat-label>
                                        <input matInput required type="text" formControlName="degree"
                                            placeholder="Degree">
                                    </mat-form-field>

                                </td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Description</mat-label>
                                        <input matInput required type="text" formControlName="desc" placeholder="Desc">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </ng-container>
                <br><button mat-raised-button color="primary" (click)="addViolation()">Add Violation</button><br><br>
            </div>
        </form>
    </div>

    <div fxLayoutGap="15px" *ngIf="!editingCitation">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext (click)="submitForm()">Next</button>
    </div>
</div>