.mat-radio-button {
    margin: 0 10px;
}

mat-form-field {
    margin-right: 12px;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-card {
  width: 55%;
  margin: 0 auto;
}

.mat-card-content {
  margin: 0 auto;
  text-align: center;
}

/* ::ng-deep .mat-form-field .mat-form-field-infix {
  width: 200px;
} */