.mat-radio-button {
    margin: 0 10px;
}

mat-form-field {
    margin-right: 12px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mat-card-actions {
  justify-content: flex-end;
}