<h2 mat-dialog-title> Editing Citation </h2>
<mat-dialog-content>
    <div fxLayout="column wrap" fxLayoutGap="16px grid">
        <div fxFlex="25" fxFlex.xs="100%" fxFlex.sm="50%" class="text-center">
            <!-- <mat-icon class="example-tab-icon">description</mat-icon> -->
            <h1><mat-icon>description</mat-icon>Citation Information</h1>
            <div>
                <app-citation-form [form]="citationForm" [editingCitation]="true" [states]="states"></app-citation-form>
            </div>
            <mat-divider></mat-divider><br>
            <h1><mat-icon>person</mat-icon>Driver Information</h1>
            <div>
                <app-driver-form [form]="citationForm" [editingCitation]="true" [states]="states"></app-driver-form>
            </div>
            <mat-divider></mat-divider><br>
            <h1><mat-icon>local_police</mat-icon>Officer Information</h1>
            <div>
                <app-officer-form [form]="citationForm"></app-officer-form>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <div fxFlex>
        <div fxFlex>
            <button mat-raised-button color="warn" (click)="deleteCitation(citation)">Delete</button>
         </div>
         <div fxFlex fxLayoutAlign="flex-end center" fxLayoutGap="10px">
            <button mat-raised-button color="accent" (click)="closeDialog()">Close</button>
            <button mat-raised-button color="primary" (click)="updateCitation(citation, violations, driver)"
            *ngIf="citation.citation_id">Update</button>
         </div>
    </div>
</mat-dialog-actions>