.mat-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.close-btn {
    float: right;
    margin: -70px -57px -20px 20px;
}

.close-btn:hover {
    color: black;
    background-color: red;
}

.mat-dialog-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-dialog-content {
    margin: -25px 0 0 0;
}

.mat-dialog-actions {
    display: flex;
    justify-content: center;
}

.mat-dialog-actions button {
    width: 85px;
}